*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;

}

table, tr, td{

    
    border: 2px solid black;
    border-collapse: collapse;
    margin: 150px;
    padding: 10px 100px;
    text-align: center;
}
table{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    display: inline-block;
}
#passwordOutput{

    margin-left: 45%;
    margin-top: 250px;
    display: block;
}
#passwordOutput::after{

    margin-left:45%;
    margin-top: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}